nav.navbar.navbar-expand.navbar-dark.bg-dark.mb-4
  .container-fluid
    = link_to t('public.general.site.title'), root_path, class: 'navbar-brand'
    button.navbar-toggler aria-controls="mainSTNavigation" aria-expanded="false" aria-label="Toggle navigation" data-target="#mainSTNavigation" data-toggle="collapse" type="button"
      span.navbar-toggler-icon
    #mainSTNavigation.collapse.navbar-collapse
