= bootstrap_form_for [:admin, book] do |f|

  = f.text_field :title,
                 label: t('admin.books.common.forms.labels.title'),
                 placeholder: t('admin.books.common.forms.placeholders.title')

  = f.file_field :cover,
                 label: t('admin.books.common.forms.labels.cover')

  - unless book.new_record?
    .mb-4
      = image_tag picture(book.cover), width: 128, height: 128, class: 'img-thumbnail'

  - if authors.present?
    = f.collection_check_boxes :author_ids, authors, :id, :name, label: t('admin.books.common.forms.labels.author_ids')

    - if book.new_record?
      = f.submit t('public.general.buttons.add'), data: { disable_with: t('public.general.buttons.expect') }, class: 'btn btn-success'
    - else
      = f.submit t('public.general.buttons.save'), data: { disable_with: t('public.general.buttons.expect') }, class: 'btn btn-primary'

      =< link_to t('public.general.buttons.back'), admin_books_path, class: 'btn btn-outline-dark'

  - else
    .text-danger
      | Необходимо добавить хотя бы одного автора
