= bootstrap_form_for [:admin, author] do |f|

  = f.text_field :name,
                 label: t('admin.authors.common.forms.labels.name'),
                 placeholder: t('admin.authors.common.forms.placeholders.name')

  - if author.new_record?
    = f.submit t('public.general.buttons.add'), data: { disable_with: t('public.general.buttons.expect') }, class: 'btn btn-success'
  - else
    = f.submit t('public.general.buttons.save'), data: { disable_with: t('public.general.buttons.expect') }, class: 'btn btn-primary'

    =< link_to t('public.general.buttons.back'), admin_authors_path, class: 'btn btn-outline-dark'
