/ Variables
- page_title = t('.title')
/
/ / SEO
- title page_title
- noindex false
- nofollow false

/ Beginning

/ Settings
- page_header page_title

.mb-4
  = link_to t('public.general.buttons.add'), new_admin_book_path, class: 'btn btn-outline-success'

table.table.mb-0
  thead.thead-inverse
    tr
      th.align-middle.text-nowrap
        = t('admin.books.index.components.table.header.id')
      th.align-middle.text-nowrap
        = t('admin.books.index.components.table.header.cover')
      th.align-middle.text-nowrap
        = t('admin.books.index.components.table.header.title')
      th.align-middle.text-nowrap
        = t('admin.books.index.components.table.header.authors')
      th.text-nowrap.text-right
        = t('admin.books.index.components.table.header.options')
  tbody
    - if @books.exists?
      - @books.each do |book|
        tr
          th.align-middle
            = book.id
          td.align-middle
            = image_tag picture(book.cover), width: 56, height: 56, class: 'img-thumbnail'
          td.align-middle
            = book.title
          td.align-middle
            = nice_short_list(book.authors, :name)
          td.align-middle.text-right
            => link_to t('admin.books.index.components.table.body.edit'), edit_admin_book_path(book), class: 'btn btn-outline-primary btn-sm'
            = link_to t('admin.books.index.components.table.body.delete'), admin_book_path(book), method: :delete, data: { confirm: t('public.general.notifications.are_you_sure') }, class: 'btn btn-outline-danger btn-sm'
    - else
      tr
        td.text-center colspan="5"
          = t('admin.books.index.components.table.body.no_found')

.mt-5

= paginate @books
