doctype html
html lang="ru"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    = display_meta_tags site: t('admin.general.site.title'), separator: '/', reverse: true, noindex: true, nofollow: true, canonical: "#{Settings.app.protocol}#{Settings.app.host}#{request.fullpath}"
    = csrf_meta_tags
    = stylesheet_link_tag 'admin/application', media: 'all'

  body
    = render partial: 'admin/common/navigation/base'

    .container-fluid
      = render partial: 'common/notifications'

      = yield :title
      = yield

    = render partial: 'admin/common/footer/base'

    = javascript_include_tag 'admin/footer/application'
