.row.justify-content-center
  .col-md-6.col-lg-5
    .h1.mt-4.mb-4
      = title t('public.devise.sessions.new.title')

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .card
        .card-body
          .form-group
            = f.label :email, t('public.devise.common.labels.email')
            = f.email_field :email, class: 'form-control', placeholder: 'email@example.com', autofocus: true, required: true

          .form-group
            = f.label :password, t('public.devise.common.labels.password')
            = f.password_field :password, class: 'form-control', placeholder: t('public.devise.common.labels.password'), autocomplete: :off, required: true

          - if devise_mapping.rememberable?
            .form-check
              = f.label :remember_me, class: 'form-check-label'
                = f.check_box :remember_me, class: 'form-check-input', checked: true
                = t('public.devise.common.labels.remember_me')

        .card-footer
          .d-flex.justify-content-between.flex-wrap
            = render 'devise/common/links'
            = f.submit t('public.devise.common.buttons.sign_in'), class: 'btn btn-success ml-1'
