nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
  .container-fluid
    = link_to t('admin.general.site.title'), admin_root_path, class: 'navbar-brand'
    button.navbar-toggler aria-controls="mainSTNavigation" aria-expanded="false" aria-label="Toggle navigation" data-target="#mainSTNavigation" data-toggle="collapse" type="button"
      span.navbar-toggler-icon
    #mainSTNavigation.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          = link_to t('admin.general.navigation.links.books'), admin_books_path, class: "nav-link #{'active' if controller_name == 'books'}"

        li.nav-item
          = link_to t('admin.general.navigation.links.authors'), admin_authors_path, class: "nav-link #{'active' if controller_name == 'authors'}"

      ul.navbar-nav
        li.nav-item
          = link_to t('public.general.navigation.links.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link'
