- flash.each do |msg_type, message|
  - msg_type = 'danger' if msg_type == 'alert'
  - msg_type = 'success' if msg_type == 'notice'
  .alert.mb-4 class = "alert-#{msg_type}" role="alert"
    / .h4.alert-heading
    /   = msg_type == 'danger' ? 'Error' : 'Information'
    .mb-0
      = message
